<section class="about-us section" id="about-us">
  <div class="container">
    <h2 class="about-us-title" >Про нас</h2>
    <p class="about-us-text">
      У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що
      приносять радість та задоволення. Наша місія — пропонувати високоякісні
      десерти, які поєднують у собі вишуканий смак, свіжі інгредієнти та
      естетичний вигляд.
    </p>
    <div class="about-us-slider">
      <div class="about-us-swiper swiper">
        <div class="about-us-gallery swiper-wrapper">
          <div class="about-us-slide swiper-slide">
            <img
              class="about-us-image"
              src="./img/about-us/chef-hands.jpg"
              srcset="
                ./img/about-us/chef-hands.jpg    1x,
                ./img/about-us/chef-hands@2x.jpg 2x
              "
              alt="Процес приготування десертів"
              loading="lazy"
            />
          </div>

          <div class="about-us-slide swiper-slide">
            <img
              class="about-us-image"
              src="./img/about-us/team.jpg"
              srcset="./img/about-us/team.jpg 1x, ./img/about-us/team@2x.jpg 2x"
              alt="Команда Солодкої Майстерні"
              loading="lazy"
            />
          </div>

          <div class="about-us-slide swiper-slide">
            <img
              class="about-us-image"
              src="./img/about-us/interior.jpg"
              srcset="
                ./img/about-us/interior.jpg    1x,
                ./img/about-us/interior@2x.jpg 2x
              "
              alt="Інтер'єр Солодкої Майстерні"
              loading="lazy"
            />
          </div>

          <div class="about-us-slide swiper-slide">
            <img
              class="about-us-image"
              src="./img/about-us/woman.jpg"
              srcset="
                ./img/about-us/woman.jpg    1x,
                ./img/about-us/woman@2x.jpg 2x
              "
              alt="Відвідувачка Солодкої Майстерні з десертом"
              loading="lazy"
            />
          </div>
        </div>
        <div class="about-us-pagination swiper-pagination"></div>
      </div>

      <button
        class="about-us-button about-us-button-prev"
        type="button"
        aria-label="Попередній слайд"
      >
        <svg
          class="about-us-button-icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="./img/sprite.svg#arrow_back-icon"></use>
        </svg>
      </button>

      <button
        class="about-us-button about-us-button-next"
        type="button"
        aria-label="Наступний слайд"
      >
        <svg
          class="about-us-button-icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="./img/sprite.svg#arrow_forward-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
