<section class="section popular-products">
  <div class="container">
    <h2 class="popular-title">Наші бестселлери</h2>

    <div class="swiper popular-swiper">
      <div class="swiper-wrapper">
        <div class="loader-container">
          <span class="loader"></span>
          <p class="loader-text">Завантаження бестселлерів...</p>
        </div>
      </div>
    </div>

    <div class="slider-controls">
      <div class="wrapper-pagination">
        <div class="swiper-pagination popular-pagination"></div>
      </div>
      <div class="swiper-buttons">
        <button
          class="slider-button-prev"
          type="button"
          aria-label="Попередній слайд"
        >
          <svg class="slider-icon" width="24" height="24">
            <use href="./img/sprite.svg#arrow_back-icon"></use>
          </svg>
        </button>
        <button
          class="slider-button-next"
          type="button"
          aria-label="Наступний слайд"
        >
          <svg class="slider-icon" width="24" height="24">
            <use href="./img/sprite.svg#arrow_forward-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
