<div class="mobile-menu">
  <div class="mobile-menu-content">
    <div class="mobile-top">
      <a href="./index.html" class="mobile-logo">
        <svg>
          <use href="./img/sprite.svg#logo-icon"></use>
        </svg>
      </a>
      <button class="mobile-close" type="button" aria-label="Закрити меню">
        <svg width="24" height="24">
          <use href="./img/sprite.svg#close-icon"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-nav" aria-label="Mobile navigation">
      <ul class="mobile-nav-list">
        <li><a href="#desserts-list" class="mobile-link">Солодощі</a></li>
        <li><a href="#about-us" class="mobile-link">Про нас</a></li>
        <li><a href="#feedback" class="mobile-link">Відгуки</a></li>
        <li><a href="#faq" class="mobile-link">Часті питання</a></li>
      </ul>
    </nav>
    <a href="#buy" class="mobile-btn">До покупок</a>
  </div>
</div>

<div class="mobile-backdrop"></div>
