<header class="header">
  <div class="container header-container">

    <a href="#hero" class="header-logo">
      <svg>
        <use href="./img/sprite.svg#logo-icon"></use>
      </svg>
    </a>
    <div class="header-right">
      <button class="burger-btn" aria-label="Open menu">
      <svg>
        <use href="./img/sprite.svg#menu-icon"></use>
      </svg>
      </button>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <a href="#products" class="header-link">Солодощі</a>
          <a href="#about" class="header-link">Про нас</a>
          <a href="#reviews" class="header-link">Відгуки</a>
          <a href="#faq" class="header-link">Часті питання</a>
        </ul>
      </nav>

      <a href="#buy" class="header-btn">До покупок</a>
    </div>

  </div>
</header>
