:root {
  /* Fonts */
  --font-primary: 'Work Sans', sans-serif;
  --font-secondary: 'Comfortaa', sans-serif;

  /* Text */
  --color-text-primary: #080c0c;
  --color-text-secondary: #525454;
  --color-text-muted: #838585;

  /* Background */
  --color-background: #f5fdfd;
  --color-background-light: #ebfcfb;
  --color-background-accent: #bbf5f3;

  /* Pink */
  --color-pink: #f19898;
  --color-pink-light: #f5b6b6;
  --color-pink-dark: #c07979;

  /* Turquoise */
  --color-turquoise: #9ff1ef;
  --color-turquoise-dark: #7fc0bf;

  /* Neutral */
  --color-white: #fff;
  --color-border: #202424;
  --color-border-light: #b4b6b6;
  --color-neutral-light: #d9dada;
  --color-neutral: #838585;

  /* States */
  --color-error: #d50000;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
