body {
  background-color: var(--color-background);
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  margin: 0;
}

/* *,
*::after,
*::before {
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--font-secondary);
}
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
